@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    outline: none;
    /* CSS property is used to remove
    the default outline that appears around an
    element when it is focused. */
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #292626;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    /**/
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #eae0dc;
}

html::-webkit-scrollbar-thumb {
    background: #E0CECDFF;
}

section {
    padding: 3rem 9%;
}

::selection {
    background-color: #e1cec7;
    color: #31231e;
}

.heading {
    background: #292626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 2%;
    border-radius: 3rem;
}

.heading h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
}

.heading p {
    font-size: 2rem;
    color: #ffffff;
}

.heading p a {
    color: #ffffff;
}

.heading p a:hover {
    color: #ecdcd2;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid #ffffff;
    padding-bottom: 1.5rem;
}

.title span {
    font-size: 2.5rem;
    color: #ffffff;
}

.title a {
    font-size: 1.5rem;
    color: #f9f1ff;
}

.title a:hover {
    transform: translateX(-3px);
    color: rgba(249, 241, 255, 0.58);
}




.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #a8a7a7, #ffe0ce);
    color: #262626;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    letter-spacing: 2px;
    background: linear-gradient(135deg, #a8a7a7, #ffffff);
}

/* header section start */
.header {
    padding: 2rem 9%;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #292626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-radius: 0 0 2rem 2rem;*/
}

.header .logo {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 500;
}

.header .logo i {
    padding-right: .3rem;
}

.header .search-form {
    height: 5rem;
    width: 50rem;
    border-radius: .75rem;
    background-color: transparent;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #464545;
    align-items: center;
    border: 0.1rem solid #ffffff;
    border-radius: 3rem;
    padding-left: 1.5rem;


}

.header .search-form input {
    height: 100%;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: none;
    background: transparent;

}

.header .search-form input::placeholder {
    color: rgba(248, 242, 241, 0.71);
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: #ffffff;
}

.header .search-form label:hover {
    color: #575656;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #ffffff;
}

#search-btn {
    display: none;
}

/* header section end */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

#closer {
    position: fixed;
    top: 5rem;
    right: 4rem;
    font-size: 4rem;
    cursor: pointer;
    z-index: 100000;
    color: #ffffff;
    display: block;
    /* Ensure the element is visible */
    animation: rotate .6s linear .6s backwards;
    /* Apply the animation */
}

#closer:hover {
    color: #656261;
}


/* navbar start */
.navbar {
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    z-index: 10000;
    width: 35rem;
    background: #5e5e5e;
    display: flex;
    margin: 2%;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}
.navbar.active{
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: .6s linear ;
}
.navbar a{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #ffffff;
}
.navbar a:hover{
    color: #ffffff;
}
/* navbar end */

.hero-image {
    background-image: url('../image/hero.png');
    height: 65rem ; /* Adjust height as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* shopping cart start */

.shopping-cart {
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    /* right: 0%; */
    z-index: 1000;
    width: 35rem;
    background:#262626;
    padding: 8rem 2rem 2rem;
    overflow-y: scroll;
    margin:2%;
    border-radius: 3rem;
}

.shopping-cart.active{
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: .6s linear ;
}

.shopping-cart::-webkit-scrollbar{
    width: 0;
}
.shopping-cart::-webkit-scrollbar-track{
    background:#eae0dc ;}

.shopping-cart::-webkit-scrollbar-thumb{
    background:    #E0CECDFF;}

.shopping-cart .box{
    display: flex;
    align-items:center ;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    padding: .75rem;
    background-color:#262626 ;
    border-radius: .5rem;
    border:.1rem solid     #b7b4b3;


}
.shopping-cart .box .close-icon{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #b7b4b3;
    cursor: pointer;
}

.shopping-cart .box .close-icon:hover{
    color: #ffffff;
}
.shopping-cart .box img{
    border-radius:.65rem ;
    height: 8rem;
    width: 6rem;
    object-fit: fill;
}
.shopping-cart .box .content h3{
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: .5rem;
}
.shopping-cart .box .content span{
    font-size: 1.5rem;
    color: #b7b4b3;
}
.shopping-cart .box .content .multiply{
    margin: 0 1rem;
}
.shopping-cart .total{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: #ffffff;
}
.shopping-cart .total .span{
    color: #ffffff;
}
.shopping-cart .btn{
    width: 100%;
    text-align: center;
}

.wishlist{
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    background: #262626;
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
    margin: 2%;
    border-radius: 3rem;
}

.wishlist.active {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: .6s linear;
}

.wishlist::-webkit-scrollbar {
    width: 0;
}

.wishlist::-webkit-scrollbar-track {
    background: #eae0dc;
}

.wishlist::-webkit-scrollbar-thumb {
    background: #E0CECDFF;
}

.wishlist .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    padding: .75rem;
    background-color: #262626;
    border-radius: .5rem;
    border: .1rem solid #b7b4b3;
}

.wishlist .box .close-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #b7b4b3;
    cursor: pointer;
}

.wishlist .box .close-icon:hover {
    color: #ffffff;
}

.wishlist .box img {
    border-radius: .65rem;
    height: 8rem;
    width: 6rem;
    object-fit: fill;
}

.wishlist .box .content h3 {
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

.wishlist .box .content span {
    font-size: 1.5rem;
    color: #b7b4b3;
}

.wishlist .box .content .multiply {
    margin: 0 1rem;
}

.wishlist .total {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: #ffffff;
}

.wishlist .total .span {
    color: #ffffff;
}

.wishlist .btn {
    width: 100%;
    text-align: center;
}




/* shopping cart end */


/* login form start */
.login-form {
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    /* right: 0%; */
    z-index: 1000;
    width: 35rem;
    background:#5e5e5e;
    padding: 2rem;
    padding-top: 8rem;
    /* overflow-y: scroll; */
    margin:2%;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form.active{
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: .6s linear ;
}

.login-form form{
    padding: 1.7rem;
    border:0.1rem solid #b7b4b3;
    border-radius: 2rem;
}

.login-form form h3{
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color:#ffffff;
}

.login-form form .box{
    width: 100%;
    text-transform: none;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 1.2rem;
    border: 0.1rem solid #b7b4b3;
    margin: .7rem 0;
    border-radius: .75rem;
    background: transparent;
}

.login-form form .box::placeholder{
    color: #ffffff;
}
.login-form form .remember{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.login-form form .remember label{
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
}
.login-form form .btn{
    width: 100%;
    margin: 1rem 0;
    text-align: center;
}
.login-form form p{
    padding-top: 1rem;
    font-size: 1.4rem;
    color: #ffffff;

}
.login-form form p a{
    color: #ffffff;
}


.login-form form p a:hover{
    text-decoration: underline;
}


/* login form end */

@-webkit-keyframes fadeOut {
    0%{
        -webkit-transform:scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}
@keyframes fadeOut {
    0%{
        -webkit-transform:scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}
@-webkit-keyframes fadeleft {
    0%{
        -webkit-transform:translateX(-5rem);
        transform: translateX(-5rem);
        opacity: 0;
    }
}

@keyframes fadeLeft {
    0%{
        -webkit-transform:translateX(-5rem);
        transform: translateX(-5rem);
        opacity: 0;
    }
}
/* home page start */
.home{
    position: relative;
    margin: 2%;
    border-radius: 3rem;
    background-color: #5e5e5e;
}
.home .slides-container .slide{
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    display: none;
    height: 55rem;
}
.home .slides-container .slide.active {
    display: flex;
}
.home .slides-container .slide .content{
    animation: fadeLeft .4s linear .4s backwards;
}
.home .slides-container .slide .content span {
    font-size: 2.5rem;
    color: #ffffff;
}
.home .slides-container .slide .content h3 {
    font-size: 3rem;
    color: #ffffff;
}
.home .slides-container .slide .content p {
    font-size: 1.5rem;
    color: #E0CECDFF;
    padding: .5rem 0;
    line-height: 2;
}
.home .slides-container .slide .image{
    padding: 3rem 0;
}
.home .slides-container .slide .image img{
    height: 50rem;
    animation: fadeOut .4s linear;
    border-radius: 20px;
}
.home #slide-next,
.home #slide-prev {
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    background :#e1cec7;
    cursor: pointer;
    border-radius: 50%;
}
.home #slide-next:hover,
.home #slide-prev:hover {
    background: #262626;
    color: #e1cec7;
}
.home #slide-next{
    right: 2rem;
}
.home #slide-prev{
    left: 2rem;
}

/* ---- banner section ---- */
.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.banner-container .banner{
    height: 25rem;
    overflow: hidden;
    position: relative;
    border: 3rem;
    border-radius: 2.5rem;

}

.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-container .banner:hover img{
    transform: scale(1.2);
}
.banner-container .banner .content {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}
.banner-container .banner .content span{
    font-size: 1.7rem;
    color:#5e473e;}

.banner-container .banner .content h3{
    padding-top: .5rem;
    font-size: 2.2rem;
    color:#5e473e;
}
.banner-container .banner .content .btn{
    padding:.7rem 2.5rem ;
}


/* home page end */


/* shop page start */

/* ---- categories ---- */
.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr    ));
    gap: 1.5rem;
}
.category .box-container .box{
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    background: #d7cdca;
}
.category .box-container .box:hover{
    box-shadow: rgba(0,0,0,0.1) 0 4px 12px;
}
.category .box-container .box:hover img{
    /*height: 6rem;*/
    transform: scale(1.1);
    font-size: 2.3rem;
    margin-bottom: 1rem;

}
.category .box-container .box h3{
    font-size: 1.7rem;
    color: #644e45;
}

/* ---- product section ---- */
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap:1.5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: #5e5e5e;

}
.products .box-container .box{
    width: 29rem;
    flex-wrap: wrap;
    position: relative;
    background: #f5eeeb;
    overflow: hidden;
    border-radius: 2rem;
    border: .1rem solid #caab9f;
}
/*.products .box-container .box .image img {*/
/*    object-fit: fill;*/
/*}*/
.products .box-container .box:hover .image img {
    transform: scale(1.2);


}
.products .box-container .box:hover .icons{
    top:0;
}
.products .box-container .box .icons {
    position: absolute;
    top:-100%;
    left:0;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    background: rgba(242,242,242,0.7);
    z-index: 10;


}

.products .box-container .box .icons a{
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    width: 5rem;
    background: #e1cec7;
    color: #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.products .box-container .box .icons a:hover{
    background: #ffffff;
    color:#e1cec7;
}
.products .box-container .box .image{
    height: 30rem;
    width: 100%;
    overflow: hidden;
}
.products .box-container .box .image img{
    height: 30rem;
    width: 100%;
    object-fit: cover;

}
.products .box-container .box .content{
    padding: 1.5rem 2rem;
}
.products .box-container .box .content .price{
    font-size: 1.7rem;
    color: #6c6c6c;
}
.products .box-container .box .content h3{
    font-size: 2rem;
    color: #656565;
    padding: .5rem 0;
}

.products .box-container .box .content .stars{
    font-size: 1.7rem;

}
.products .box-container .box .content .stars i{
    color: gold;
}
.products .box-container .box .content .stars span {
    color:#E0CECDFF;
}








/* shop page end */


/* about page start */
.about{
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
    gap:6rem;
    padding: 3rem;
    margin: 5%;
    border-radius: 3rem;
    background-color: #5e5e5e;
}
.about .image{
    flex: 1 1 40rem;

}
.about .image img{
    border-radius: 2rem;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 40rem;
    margin: 1%;


}
.about .image img:hover{
   transform: scale(1.03);


}

.about .content span{
    font-size: 2rem;
    color: #f8f2f1;
}
.about .content h3 {
    font-size:2.5rem ;
    color: #ffffff;
    padding-top: 1rem;
}
.about .content p {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 2;
}

/* ---- about section ---- */

/* ---- services section ---- */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
    gap:1.5rem;
}
.services .box-container .box{
    padding: 2rem;
    text-align: center;
    background-color: #d7cdca;
    border-radius: 2rem;
}
.services .box-container .box:hover{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;

}
.services .box-container .box:hover img{
    transform: translateY(-3px);
}

.services .box-container .box img{
    font-size: 8rem;
    margin-bottom: 1rem;
}
.services .box-container .box h3{
    font-size: 2.2rem;
    color: #5e473e;
}
.services .box-container .box p {
    font-size: 1.4rem;
    color: #5e473e;
    line-height: 2;
    padding:  1rem 0;
}

/* about page end */


/* team page start */
.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: #5e5e5e;
}
.team .box-container .box{
    position: relative;
    overflow: hidden;
    border: 0.1rem solid black;
    border-radius: 2rem;
    background: #f5eeeb;
}
.team .box-container .box:hover .image img{
    transform: scale(1.2);
}
.team .box-container .box:hover .share{
    left:0;
}
.team .box-container .box .share {
    width: 7rem;
    height: 47.5rem;
    position: absolute;
    top: 1%;
    left: -8.5rem;
    z-index: 10;
    margin: 2% 2% 2% 3.5%;
    border-radius: 1.5rem;
    background: #5e5e5e;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:.7rem;


}
.team .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.2rem;
    color: #5e473e;
    background: #e1cec7;
    text-align: center;
    border-radius: 50%;
}
.team .box-container .box .share a:hover{
    color: #5e473e;
    background: #ffffff;
}
.team .box-container .box .image{
    height: 50rem;
    width: 100%;
    overflow: hidden;
}
.team .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team .box-container .box .user{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team .box-container .box .user h3{
    font-size: 2rem;
    color: #5e473e;
}

.team .box-container .box .user span{
    font-size: 1.5rem;
    color: #948e8e;
}


/* team page end */


/* blog page start */
.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #5e5e5e;
}
.blog .box-container .box{
    border: .1px solid #caab9f;
    border-radius: 2rem;
    background: #dcd3d2;
}
.blog .box-container .box:hover .image img {
    transform: scale(1.2);

}

.blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
}
.blog .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog .box-container .box .content{
    padding: 1.5rem 2rem;
}
.blog .box-container .box .content h3 {
    font-size: 2rem;
    color:#5e473e;
}
.blog .box-container .box .content p{
    font-size:1.4rem;
    color: #5e473e;
    line-height: 2;
    padding: 1rem 0;
}
.blog .box-container .box .content .icons{
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 0.1rem solid #5e473e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .box-container .box .content .icons a{
    font-size: 1.4rem;
    color:#5e473e;
}

.blog .box-container .box .content .icons a:hover{
    color: #5e473e;
}

.blog .box-container .box .content .icons a i{
    padding-right:.5rem ;
    color: #5e473e;
}



/* blog page end */


/* contact page start */
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
    margin: 5rem;

}
.contact form{
    padding: 3rem;
    margin: 1.9%;
    border-radius: 3rem;
    background: #5e5e5e;
    width: 45%;
    /*flex: 1 1 40rem;*/
}
.contact form h3{
    font-size: 3rem;
    padding-bottom: 0.9rem;
    color: #ffffff;
}
.contact form span{
    display: block;
    padding-bottom: 0.9rem;
    color: #E0CECDFF;
    font-size: 1.6rem;
}
.contact form .box{
    width: 100%;
    background: none;
    border-bottom: 0.1rem solid #ffffff;
    font-size: 1.6rem;
    color: #ffffff;
    padding: .5rem 0;
    margin-bottom: 0.9rem;

}
.contact form textarea{
    height: 4rem;
    overflow: hidden;

}


.contact .map {
    width: 50%;

    margin: 2%;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
}
/* contact page end */


/* footer start */
.footer{
    margin: 2%;
    border-radius: 3rem;
    background: #5e5e5e;

}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color:#ffffff;
    padding: 1rem 0;
}
.footer .box-container .box p{
    font-size: 1.6rem;
    color: #E0CECDFF;
    padding: 1rem;

}
.footer .box-container .box a{
    font-size:1.4rem ;
    color: #ffffff;
    padding: 1rem 0;
    display: block;
    align-items: center;
}

.footer .box-container .box a:hover {
    color: #d5d2d2;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .box-container .box i{
    padding-right: .5rem;
    color: #ffffff;
    font-size: 1.7rem;
}
.footer .box-container .box form input[type='email']{
    width: 100%;
    padding:  1rem 1.2rem;
    font-size: 1.6rem;
    color:#ffffff;
    margin: .7rem 0;
    background: transparent;
    border-radius: 0.75rem;
    border: 0.1rem solid #caab9f;
}

.footer .box-container .box form input[type='email']::placeholder{
    color: #ffffff;
}
.credit{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    background: #5e5e5e;
    margin: 2%;
    border-radius: 3rem;

}
.footer h2{
    color: #f0e8e4;
    font-size: large;
    font-weight: inherit;
}
/* footer end */


/* responsive start */
@media screen and (max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
    .home{
        padding: 3rem 2rem;

    }

    .home #slide-next,.home #slide-prev{
        top:95%;
    }
    .home #slide-prev{
        left: auto;
        right: 8rem;
    }
}
@media screen and (max-width: 768px){
    #search-btn{
        display: inline-block;
    }
    .header .search-form{
        position: absolute;
        height: 8rem;
        top:-101%;
        left:2.2%;
        right: 2.2%;
        border-radius: 3rem 3rem 0.75rem 0.75rem;
        background: #ece0dc;
    }
    .header .search-form.active{
        top:110%;
    }
}
@media screen and  (max-width: 450px){
    html{
        font-size: 50%;

    }
    .home .slides-container .slide .content h3{
        font-size: 4rem;
    }
    .heading{
        flex-flow: column;
        gap: 1rem;
    }
}
/* New media query for screens with a maximum width of 329px */
@media screen and (max-width: 329px) {
    html {
        font-size: 40%; /* Adjust font size for smaller screens */
    }

    .home .slides-container .slide .content h3 {
        font-size: 3.5rem; /* Further decrease font size for smaller screens */
    }
}
/* responsive end */